:root {
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
}

.lead-code {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.lead-text {
    font-size: 16px;
}
.lead-code code {
    padding: 0.2em 0.4em;
    font-size: 85%;
    white-space: break-spaces;
    background-color: rgba(175,184,193,0.2);
    border-radius: 6px;
    margin: 0 5px;
}
.lead-code code img {
    height: 20px;
}
